.sort{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    padding: 1rem 0;
    font-weight: 500;
    border-bottom: .5px solid rgb(230, 227, 227);
    font-family: var(--body-font);
}
.sort p{
    cursor: pointer;

}
.sort p:nth-of-type(2){
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.productContiner{
    width: calc(100%-8rem);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
    padding: 4rem;
    background-color: var(--background-color);
    font-family: var(--body-font);
}
